.profile-management-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 58px;
    width: 100%;

    padding: 6px 10px 6px 5px;

    background-color: rgb(42, 42, 42);

    position: relative;
}

.profile-management-container .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 140px;
    padding: 5px;
}

/* .profile-management-container .user-info:hover {
    background-color: rgba(122, 122, 122, 0.206);
    border-radius: 7px;
} */

.profile-management-container .user-info img {
    height: 40px;
    width: 40px;

    border-radius: 50%;
}

.profile-management-container .user-info .username-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3px;
}

.profile-management-container .user-info .username-status-container #username {
    font-size: 14px;
    font-weight: bold;
}

.profile-management-container .user-info .username-status-container #status {
    font-size: 13px;
    color: rgb(121, 121, 121);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.settings-button {
    all: unset;
    height: 33px;
    width: 33px;

    border-radius: 5px;
}

.profile-management-container .fa-solid.fa-gear {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;

    font-size: 20px;
}

.settings-button i:hover {
    animation: rotate 1s ease;
}

.settings-button:hover {
    background-color: rgba(122, 122, 122, 0.206);
}

/* #user-mgmt-logout-button {
    all: unset;
    position: relative;
    bottom: 50px;
    left: 44px;
    padding: 4px;
    border-radius: 4px;
}

#user-mgmt-logout-button:hover {
    background-color: rgba(122, 122, 122);
} */

.user-dropdown {
    position: absolute;
    bottom: 100%;
    left: 150px;

    width: 170px;

    z-index: 500;

    border-radius: 5px;

    /* filter: blur(1px) */
    /* border: 2px solid red; */
    box-shadow: 0px 4px 20px 8px rgba(0,0,0,0.31);
}

.profile-management-container .user-dropdown .options {
    display: flex;
    flex-direction: column;

    background-color: rgb(35, 35, 35);
}

.user-dropdown button {
    all: unset;

    font-size: 15px;
    padding: 15px 10px;

    /* border: 1px solid red; */
}

.user-dropdown .button:hover {
    background-color: rgba(128, 128, 128, 0.28);
}

.user-dropdown .delete-button {
    color: rgb(255, 97, 97);
}

.user-dropdown .delete-button:hover {
    background-color: rgba(255, 67, 67, 0.28);
}
