.landing-page-container .hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* ------ HERO TITLE ------ */
.landing-page-container .hero-container .hero-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.hero-title:hover {
    cursor: pointer;
}

.landing-page-container .hero-container .hero-title h5 {
    position: relative;
    top: 0px;
}

.landing-page-container .hero-container .hero-title h2 {
    position: relative;
    top: 10px;
}

.landing-page-container .hero-container #introducing {
    color: white;
    font-size: 80px;
}

.landing-page-container .hero-container img {
    position: relative;
    bottom: 10px;
    height: 100px;
}

/* ------ HERO VIDEO ------ */
.landing-page-container .hero-container .video-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.landing-page-container .hero-container .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
