.message-feed-container {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-color: rgb(61, 61, 61);
  /* border: 2px solid red */
}

.message-feed {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: hidden;
}

.message-feed-container .channel-header-container {
  display: flex;
  align-items: center;
  height: 46px;
  padding: 10px 0px;

  border-bottom: 2px solid rgb(53, 53, 53);
}

.message-feed-container .channel-header-container span {
  font-size: 30px;
  padding-left: 10px;
}
