.server-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 10px 0;
    background-color: rgb(21, 21, 21);
}

.server-list-container .divider {
    height: 2px;
    width: 40px;
    background-color: rgba(128, 128, 128, 0.495);
    margin: 10px 0;
}

.server-list-container .logo-button {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    transition: border-radius 0.1s ease;
}

.server-list-container .logo-button:hover {
    border-radius: 35%;
    background-color: rgb(140, 79, 255);
}

.server-list-container .logo-button img {
    height: 55px;
    width: 55px;
}

.server-list-container #join-create-container {
    display: flex;
    flex-direction: column;
}

.server-list-container .servers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;

}

.servers img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    transition: border-radius 0.2s ease;
}

.servers img:hover {
    border-radius: 35%;
}
