.channel-list-container .server-header-container {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 10px 0px;

    border-bottom: 2px solid rgb(53, 53, 53);
}

.channel-list-container .server-name {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
}

.channels {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 5px;
    padding: 0px 10px;
}

.channel-list-container .channel-item {
    padding: 4px 0px 4px 10px;
    border-radius: 3px;
    transition: background-color 0.1s ease;
    font-size: 16px;
    color: rgb(103, 103, 103);
}

.channel-list-container .channel-item:hover {
    cursor: pointer;
    background-color: rgba(159, 117, 244, 0.206);
    color: white;
}

.channel-list-container .channel-item.selected {
    cursor: pointer;
    background-color: rgba(188, 154, 254, 0.542);
    color: white;
}

.channel-list-container .channel-item span {
    display: flex;
    align-items: center;
    gap: 5px;
    /* justify-content: center; */
}

.channel-list-container .channel-item #hash {
    font-size: 22px;
    font-weight: bold;
}
