/* TODO: Add sitewide styles */
* {
    font-family: 'Gilroy';
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
}
