.form .submit-container {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;

    background-color: rgb(18, 18, 18);
}

.form .submit-container button {
    all: unset;
    padding: 10px 30px;

    background-color: rgb(140, 79, 255);
    border-radius: 5px;

    font-weight: bold;
}

.form .submit-container button:disabled {
    background-color: rgba(137, 91, 223, 0.409);
    color: rgba(128, 128, 128, 0.544);
}

.form .submit-container button:hover:enabled {
    background-color: rgb(199, 169, 255);
    color: rgb(140, 79, 255);
}

.form p {
    color: rgb(255, 94, 94);
    font-weight: normal;
}
