.update-channel-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;

    color: rgb(212, 212, 212);
}

.update-channel-modal .title {
    display: flex;
    justify-content: center;

    border-bottom: 2px solid rgba(106, 106, 106, 0.285);
    margin-bottom: 20px;
}

.update-channel-modal .channel-name {
    margin-top: 20px;
}


.update-channel-modal .fa-solid.fa-hashtag {
    position: absolute;
    left: 30px;
}

.update-channel-modal .input-container {
    display: flex;
    align-items: center;

    width: 100%;

    margin-bottom: 20px;
}

.update-channel-modal input {
    all: unset;

    padding: 5px 5px 5px 35px;

    border-radius: 5px;
    background-color: rgb(31, 31, 31);

    width: 100%;
}

.update-channel-modal .submit-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    margin-top: 20px;
}

.update-channel-modal .submit-container button {
    all: unset;
}

.update-channel-modal .submit-container .submit-button {
    padding: 10px 25px;
    background-color: rgb(140, 79, 255);
    border-radius: 5px;

    font-weight: bold;
}

.update-channel-modal .submit-container .submit-button:disabled {
    background-color: rgba(137, 91, 223, 0.409);
    color: rgba(128, 128, 128, 0.544);
    cursor: not-allowed;
}

.update-channel-modal .submit-container .submit-button:hover:enabled {
    background-color: rgb(199, 169, 255);
    color: rgb(140, 79, 255);
}

.update-channel-modal .submit-container .cancel-button {
    color: rgb(212, 212, 212);
}

.update-channel-modal .submit-container .cancel-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
