.profile-dropdown {
  position: absolute;
}

.navigation-container {
  background-color: rgba(0, 0, 0, 0.324);
  backdrop-filter: blur(30px);

  position: fixed;
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1.5px solid rgba(128, 128, 128, 0.388);
  padding: 0 100px;
  z-index: 666;
}

.logo-container img {
  height: 80px;
  background-color: transparent;
}

/* ------- LOGIN & SIGN UP BUTTONS ------- */
.signup-login-container {
  display: flex;
  gap: 10px;
}

.signup-login-container .login-button, .signup-button {
  all: unset;
}

.signup-login-container .login-button {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.signup-login-container .login-button:hover {
  background-color: rgb(164, 164, 164);
}

.signup-login-container .signup-button {
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #946eff;
}

.signup-login-container .signup-button:hover {
  background-color: #6d38ff;
}

.profile-dropdown {
  display: block;
  border: 2px solid red;
}

#demo-login-button {
    all: unset;
    padding: 10px 10px;
    border-radius: 10px;
}

#demo-login-button:hover {
    background-color: rgb(164, 164, 164);
}
